@inherits BaseComponent

@using Newtonsoft.Json
@using TimeTracker.Api.Shared.Dto.Entity
@using TimeTracker.Business.Common.Constants

<RadzenDropDown
    @ref="_listReference"
    Disabled="Disabled"
    PageSize="GlobalConstants.ListPageSize"
    AllowClear="true"
    TValue="long"
    Class="@(Class)"
    AllowFiltering="true"
    FilterOperator="StringFilterOperator.Contains"
    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
    AllowSorting="false"
    AllowVirtualization="true"
    Multiple="false"
    Data="@_list"
    TextProperty="Name"
    ValueProperty="Id"
    Placeholder="@Placeholder"
    Value="@_selectedId"
    ValueChanged="async (value) => await OnValueChanged(value)">
    <Template>
        @{
            var project = context as ProjectDto;
        }
        <div>@project.Name</div>
        @if (project.Client != null)
        {
            <RadzenText class="mt-2 d-block" TextStyle="TextStyle.Caption">
                @project.Client?.Name
            </RadzenText>
        }
    </Template>
</RadzenDropDown>
