@page "/dashboard/report/payments"

@using TimeTracker.Web.Pages.Dashboard.Shared
@using TimeTracker.Api.Shared.Dto.Model.Report
@using TimeTracker.Business.Extensions

@inherits BaseComponent
@layout Layout

<RadzenCard class="no-gutters mx-n2">
    <div class="row">
        <div class="col">
            <RadzenText
                TextStyle="TextStyle.Subtitle2"
                TagName="TagName.H3">
                Report Date:
            </RadzenText>
            <RadzenDatePicker
                TValue="DateTime?"
                AllowClear="false"
                DateFormat="d"
                Class="w-100"
                Placeholder="Report date"
                Value="@_filterState.EndDate"
                Change="OnChangeDateEnd"/>
        </div>
    </div>
</RadzenCard>

<RadzenCard class="mt-3 no-gutters mx-n2">
    @if (_state.Value.IsLoading)
    {
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"/>
    }
    else
    {
        if (!_grouppedItems.Any())
        {
            <RadzenText
                TextStyle="TextStyle.Subtitle1"
                TagName="TagName.H5"
                class="mt-3">
                The report is empty
            </RadzenText>
        }
        foreach (var groupItem in _grouppedItems)
        {
            var clientId = groupItem.Key ?? 0;
            var clientDataItem = groupItem.First();
            var clientName = clientDataItem.ClientName;
            var clientAmount = clientDataItem.PaidAmountByClient;
            var unpaidAmount = GetClientUnpaidAmount(clientId);
            var totalAmount = GetClientTotalAmount(clientId);
            var totalDuration = GetTotalDuration(clientId);

            <RadzenText
                TextStyle="TextStyle.H5"
                TagName="TagName.H3">
                @if (string.IsNullOrEmpty(clientName))
                {
                    clientName = "Other projects";
                }
                @clientName
            </RadzenText>

            <RadzenDataGrid
                AllowFiltering="false"
                AllowPaging="false"
                AllowSorting="false"
                Data="@groupItem"
                TItem="PaymentsReportItemDto"
                FooterCellRender="@(args => OnFooterCellRender(args, clientDataItem))"
                ColumnWidth="200px"
                class="mb-3">

                <Columns>
                    <RadzenDataGridColumn
                        TItem="PaymentsReportItemDto"
                        Property="ProjectName"
                        Title="Project">
                        <FooterTemplate>
                            @{
                                var bgColor = unpaidAmount < 0 ? "var(--rz-series-4)" : "var(--rz-series-8)";
                                var style = $@"
                                                margin: -8px;
                                                padding: 7px;
                                                color: var(--rz-white); 
                                                background-color: {bgColor};
                                            ";
                            }
                            <div style="@style.Trim()">
                                Unpaid:
                                <b>
                                    @((unpaidAmount > 0) ? "+" : "")@unpaidAmount.ToString("0.00")
                                </b>
                            </div>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn
                        TItem="PaymentsReportItemDto"
                        Property="TotalDuration"
                        Title="Total Duration">
                        <Template Context="item">
                            @item.TotalDuration.ToString("dd\\.hh\\:mm\\:ss")
                        </Template>
                        <FooterTemplate>
                            Total: <b>@totalDuration.ToReadableShortString()</b>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn
                        TItem="PaymentsReportItemDto"
                        Property="Amount"
                        Title="Amount">
                        <Template Context="item">
                            @item.Amount.ToString("0.00")
                        </Template>
                        <FooterTemplate>
                            Total: <b>@totalAmount.ToString("0.00")</b>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn
                        TItem="PaymentsReportItemDto"
                        Property="Paid"
                        Title="Paid">
                        <Template Context="item">
                            @item.PaidAmountByProject.ToString("0.00")
                        </Template>
                        <FooterTemplate>
                            Total: <b>@clientAmount.ToString("0.00")</b>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        }
    }
</RadzenCard>
