@using TimeTracker.Web.Pages.Dashboard.Shared
@using TimeTracker.Api.Shared.Dto.Entity
@using TimeTracker.Business.Common.Constants
@using TimeTracker.Web.Pages.Dashboard.Shared.Tasks

@inherits BaseComponent

<div class="w-task-table">
    @if (TasksState.Value.IsListLoading)
    {
        <RadzenCard class="m-0 mt-1 w-100">
            <RadzenProgressBar
                Value="100"
                ProgressBarStyle="ProgressBarStyle.Info"
                ShowValue="false"
                Mode="ProgressBarMode.Indeterminate"/>
        </RadzenCard>
    }
    else if (!TasksState.Value.List.Any())
    {
        <RadzenCard class="m-0 mt-1 w-100">
            <RadzenText TextStyle="TextStyle.Subtitle1">No records to display.</RadzenText>
        </RadzenCard>
    }

    <RadzenDataList
        PageSize="@GlobalConstants.ListPageSize"
        Count="TasksState.Value.TotalCount"
        IsLoading="@TasksState.Value.IsListLoading"
        ShowPagingSummary="true"
        WrapItems="false"
        AllowPaging="false"
        Data="@TasksState.Value.List"
        TItem="TaskDto">
        <Template Context="item">
            <div
                @onclick="() => OnClickTask(item)"
                class="m-0 w-100 w-task-item">
                <RadzenRow>
                    <RadzenColumn Style="max-width: 80px;">
                        <TaskIdBadge InternalTask="item"/>
                    </RadzenColumn>
                    <RadzenColumn Style="max-width: 80px;">
                        @if (item.Attachments.Any())
                        {
                            <RadzenIcon
                                IconStyle="IconStyle.Info"
                                Icon="attachment"/>
                        }
                        @if (item.IsDone)
                        {
                            <RadzenIcon
                                IconStyle="IconStyle.Success"
                                Icon="check_circle_outline"/>
                        }
                        @if (item.IsArchived)
                        {
                            <RadzenIcon
                                Icon="inventory"/>
                        }
                    </RadzenColumn>
                    <RadzenColumn class="text-truncate">
                        <RadzenText
                            class="@(item.IsDone ? "w-done" : "")"
                            TextStyle="TextStyle.Subtitle1">
                            @item.Title
                        </RadzenText>
                    </RadzenColumn>
                    <RadzenColumn Style="max-width: 150px;">
                        <TagsBadgesList Tags="@item.Tags"/>
                    </RadzenColumn>
                </RadzenRow>
            </div>
        </Template>
    </RadzenDataList>
</div>
