@inherits BaseComponent

@using TimeTracker.Web.Shared.Components.Layout
@using TimeTracker.Web.Core.Helpers

<RadzenHeader>
    <div class="row p-2">
        <div class="col-5 d-flex align-items-center">
            <a class="navbar-brand" href="#">
                <img
                    style="width: 28px;"
                    src="/img/logo/black/clock-256.png"
                    class="d-inline-block">
                <b>TimeVic</b>
            </a>
        </div>
        <div class="col-7 d-flex align-items-center justify-content-end">
            <div class="d-md-inline-flex align-items-center">
                @if (AuthState.Value.IsLoggedIn)
                {
                    if (_isShowDashboardLink)
                    {
                        <RadzenLink
                            class="mr-2"
                            Path="@SiteUrl.DashboardBase"
                            Text="Dashboard"/>
                    }
                    else
                    {
                        <WorkspaceMenu/>
                    }
                }
                else
                {
                    <RadzenLink
                        Path="@SiteUrl.Login"
                        Text="Login"/>
                    <RadzenLink
                        Path="@SiteUrl.Registration_Step1"
                        Text="Sign Up"
                        class="ml-3 mr-3"/>
                }
            </div>
            @if (AuthState.Value.IsLoggedIn)
            {
                <RadzenProfileMenu
                    class="p-0 pl-3"
                    Click="OnClickUserMenu">
                    <Template>
                        <RadzenGravatar Email="user@example.com">
                        </RadzenGravatar>
                    </Template>
                    <ChildContent>
                        <div class="pt-3 pl-3 pr-3 pb-1">
                            <RadzenText TextStyle="TextStyle.DisplayH6">
                                @AuthState.Value.User.Name
                            </RadzenText>
                            @if (AuthState.Value.User.Name != AuthState.Value.User.Email)
                            {
                                <RadzenText TextStyle="TextStyle.Subtitle2">
                                    @AuthState.Value.User.Name
                                </RadzenText>
                            }
                        </div>
                        <hr/>
                        <RadzenProfileMenuItem
                            Text="My profile"
                            Value="user_profile"
                            Icon="account_circle"/>
                        <RadzenProfileMenuItem
                            Text="Logout"
                            Value="logout"
                            Icon="logout"/>
                    </ChildContent>
                </RadzenProfileMenu>
            }
        </div>
    </div>
</RadzenHeader>
