@using TimeTracker.Api.Shared.Dto.RequestsAndResponses.Dashboard.Tasks
@using TimeTracker.Business.Common.Constants.Storage
@using TimeTracker.Web.Pages.Dashboard.Shared.TimeEntry
@using TimeTracker.Web.Pages.Dashboard.Shared.Tasks

@inherits BaseComponent

<RadzenTemplateForm
    @ref="@_form"
    TItem="UpdateRequest"
    Data="@model"
    Submit="HandleSubmit">
    <DataAnnotationsValidator/>

    <RadzenStack
        Orientation="Orientation.Vertical"
        AlignItems="AlignItems.Start"
        Wrap="FlexWrap.Wrap">

        <RadzenRow Class="w-100">
            <RadzenColumn
                class="d-flex align-items-center"
                Style="max-width: 60px;">
                <TaskIdBadge InternalTask="@Task"/>
            </RadzenColumn>
            <RadzenColumn>
                <RadzenTextBox
                    Name="Title"
                    @bind-Value="model.Title"
                    Placeholder="Enter a title for new task"
                    Change="SubmitForm"
                    Class="w-100"/>
            </RadzenColumn>
            <RadzenColumn Style="max-width: 150px;">
                <TimeEntryForm
                    InternalTask="@Task"
                    IsShort="true"/>
            </RadzenColumn>
        </RadzenRow>

        <RadzenRow Class="w-100">
            <RadzenColumn Style="max-width: 200px">
                <RadzenText
                    TextStyle="TextStyle.Subtitle2"
                    TagName="TagName.H3">
                    Assigned
                </RadzenText>
                <MembersDropDown
                    Clearable="false"
                    AllowedIds="_allowedUserIds"
                    UserId="@model.UserId"
                    SelectedItemChanged="OnChangedAssigned"/>
            </RadzenColumn>
            <RadzenColumn Style="max-width: 200px">
                <RadzenText
                    TextStyle="TextStyle.Subtitle2"
                    TagName="TagName.H3">
                    Notify me at
                </RadzenText>
                <RadzenDatePicker
                    TValue="DateTime?"
                    ShowTime="true"
                    ShowSeconds="true"
                    HoursStep="1"
                    MinutesStep="30"
                    Change="OnChangeNotificationTime"
                    DateRender="OnRenderNotificationTime"
                    Value="model.NotificationTime"
                    DateFormat="MM/dd/yyyy HH:mm"/>
            </RadzenColumn>
        </RadzenRow>

        <RadzenRow Class="w-100">
            <RadzenColumn Style="max-width: 200px">
                <RadzenText
                    TextStyle="TextStyle.Subtitle2"
                    TagName="TagName.H3">
                    External Task Id
                </RadzenText>
                <RadzenTextBox
                    Class="w-100"
                    Placeholder="Task ID"
                    @bind-Value="@model.ExternalTaskId"
                    Change="SubmitForm"/>
            </RadzenColumn>
            <RadzenColumn>
                <RadzenStack
                    Orientation="Orientation.Horizontal"
                    AlignItems="AlignItems.End"
                    JustifyContent="JustifyContent.End"
                    Style="height: 100%;">
                    <div>
                        <RadzenCheckBox
                            @bind-Value=@model.IsDone
                            Name="IsArchived"
                            Change="SubmitForm"
                            TValue="bool"/>
                        <RadzenLabel Text="Done" Component="IsDone" class="ml-1"/>
                    </div>
                    <div>
                        <RadzenCheckBox
                            @bind-Value=@model.IsArchived
                            Name="IsArchived"
                            Change="SubmitForm"
                            TValue="bool"/>
                        <RadzenLabel Text="Archived" Component="IsArchived" class="ml-1"/>
                    </div>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>

        <RadzenRow Class="w-100">
            <RadzenColumn>
                <RadzenText
                    TextStyle="TextStyle.Subtitle2"
                    TagName="TagName.H3">
                    Tags
                </RadzenText>
                <TagsDropDown
                    Value="@model.TagIds"
                    ValueChanged="OnTagsChanged"
                    Class="w-100"/>
            </RadzenColumn>
        </RadzenRow>

        <RadzenTabs RenderMode="@TabRenderMode.Client" class="w-100">
            <Tabs>
                <RadzenTabsItem Text="Description">
                    <RadzenTextArea
                        Name="Description"
                        @bind-Value="model.Description"
                        Placeholder="Insert your task details here"
                        Rows="_descriptionTextAreaRows"
                        @oninput="ResizeDescriptionTextArea"
                        MaxLength="10000"
                        Change="SubmitForm"
                        Class="w-100"/>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Attachments">
                    <FileUploader
                        Class="w-100"
                        EntityId="@Task.Id"
                        FileUploaded="OnFileUploaded"
                        EntityType="StorageEntityType.Task"
                        FileType="StoredFileType.Attachment"/>
                    <FilesList
                        Class="mt-1"
                        FileDeleted="OnFileDeleted"
                        EntityId="@Task.Id"
                        EntityType="StorageEntityType.Task"
                        ListUpdated="AttachmentsListUpdated"
                        Files="@Task.Attachments"/>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>

    </RadzenStack>
</RadzenTemplateForm>
